
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"><script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="container">
	<table class = "table table-bordered">
		<tr>
			<th>Full Name</th>
			<th>Birth Date</th>
			<th>Age</th>
		</tr>
		{% for key in empInfo %}
		<tr>
			<td>{{key.firstName ~ " " ~ key.middleName ~ " " ~ key.lastName }}</td>
			<td>{{key.birthDate|date("Y-m-d")}}</td>
			<td>{{key.age}}</td>
		</tr>
		{% endfor %}
	</table>
	<a class = "btn btn-info" href="{{ path ('add_employee')}}">Add More Employees</a><br><br>
	<a class = "btn btn-info" href="{{ path ('homepage')}}">View All Employees</a>
</div>
 
